:root {
    --primary: #0b1c2b;
    --secondary: #030b28;
    --button: #ffbf0f;
    --button-hover: #088395;
    --shadow: rgba(0, 0, 0, 0.45);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--secondary);
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    background-color: var(--primary);
    width: 100%;
    box-shadow: 0 14px 28px 10px var(--shadow);
    padding: 0.75rem 2.5rem 0.75rem 2.5rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hidden {
    display: none;
}

@keyframes animate-up {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(-1200px) rotate(720deg);
    }
}

@keyframes fall {
    0% {
        top: 0;
        left: 0;
    }
    40% {
        top: -10vh;
        left: calc(3vw * var(--direction));
        animation-timing-function: ease-in;
    }
    100% {
        top: 100vh;
        left: calc(13vw * var(--direction));
        animation-timing-function: ease-in;
    }
}

a.github {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

a.github:hover {
    background-color: white;
    border-color: #fff;
    color: black;
}

a.github img {
    height: 20px;
    width: 20px;
    transition: filter 0.3s;
}

a.github:hover img {
    filter: brightness(0) saturate(100%);
}


.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: var(--secondary);
    overflow: hidden;
    z-index: -100;
}

.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    animation-name: animate-up;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.background li:nth-child(1) {
    left: 77%;
    width: 186px;
    height: 186px;
    bottom: -199px;
    animation-delay: 0s;
    border-color: red;
}

.background li:nth-child(2) {
    left: 13%;
    width: 109px;
    height: 109px;
    bottom: -149px;
    animation-delay: 0s;
}

.background li:nth-child(3) {
    left: 7%;
    width: 195px;
    height: 195px;
    bottom: -195px;
    animation-delay: 7s;
}

.background li:nth-child(4) {
    left: 82%;
    width: 194px;
    height: 194px;
    bottom: -194px;
    animation-delay: 5s;
}

.background li:nth-child(5) {
    left: 15%;
    width: 108px;
    height: 108px;
    bottom: -108px;
    animation-delay: 19s;
}

.background li:nth-child(6) {
    left: 24%;
    width: 118px;
    height: 118px;
    bottom: -118px;
    animation-delay: 18s;
}

.background li:nth-child(7) {
    left: 41%;
    width: 123px;
    height: 123px;
    bottom: -123px;
    animation-delay: 21s;
}

.background li:nth-child(8) {
    left: 64%;
    width: 176px;
    height: 176px;
    bottom: -176px;
    animation-delay: 19s;
}

.background li:nth-child(9) {
    left: 12%;
    width: 174px;
    height: 174px;
    bottom: -174px;
    animation-delay: 14s;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 75%;
    max-width: 450px;
    border-radius: 10px;
    padding: 25px 25px 47px 25px;
    background-color: var(--primary);
    box-shadow: 0 14px 28px 10px var(--shadow);
    z-index: 300;
    color: #E9E9E9;
}

input,
button,
label {
    width: 90%;
    height: 30px;
    font-size: 15px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 3px;
    border: none;
}

h1 {
    text-align: center;
    margin: 22px 0 22px 0;
}

input[type="submit"] {
    background-color: var(--button);
}

input[type="submit"]:hover {
    background-color: var(--button-hover);
    transition: 0.5s;
}

input[type="text"] {
    background-color: #ffffff00;
    border-bottom: 2px solid white;
    color: white;
}

input[type="text"]:focus-visible {
    outline: none;
    transition: 0.2s;
    border-bottom: 2px solid var(--button-hover);
}

input[type="text"]:hover {
    transition: 0.2s;
    border-bottom: 2px solid var(--button-hover);
}

#playerInfo {
    color: rgb(228, 228, 228);
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    max-width: 400px;
}

.playground {
    width: 90vw;
    max-width: 400px;
    height: 90vw;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    table-layout: fixed;
}

.playground td {
    width: 33.33%;
    height: 100px;
    padding: 0;
    margin: 0;
    border: 5px solid #dd9333;
    box-sizing: border-box;
}

.playground tr:first-child td {
    border-top: none;
}

.playground tr:last-child td {
    border-bottom: none;
}

.playground td:first-child {
    border-left: none;
}

.playground td:last-child {
    border-right: none;
}

.playgroundButton {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.donut {
    background-image: url("/public/donut.svg");
}

.burger {
    background-image: url("/public/burger.svg");
}

button {
    border: none;
    height: 50px;
    width: 250px;
}

button.reset {
    background-color: red;
    margin-top: 1em;
    margin-bottom: 1em;
}

button.newGame {
    background-color: greenyellow;
}

div.winner {
    background-color: red;
    position: fixed;
    width: 100%;
    padding: 25px;
    top: 180px;
    opacity: 0.8;
    font-size: 70px;
    text-align: center;
    display: none;
}

.game {
    margin-left: 2rem;
    margin-right: 2rem;
    width: 100%;
    display: none;
}

.fall-out {
    position: relative;
    animation-name: fall;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
